@model List<Adminka.Models.ProductParameters>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Товары</h2>
        <table>
            <tr>
                @*<td><p>Номер</p></td>*@
                <td><p>Название товара</p></td>
                <td><p>Цена</p></td>
                <td><p>Наличие на складе</p></td>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    @*<td><p>@row.Id</p></td>*@
                    <td><p>@row.Name</p></td>
                    <td><p>@row.Price</p></td>
                    <td><p>@row.InStock</p></td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            <input type="submit" value="Редактировать" />
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@row.Id" />
                            <input type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
        <form action="/Home/ProductCreation">
            <input type="submit" value="Создать товар" />
        </form>
    </div>
</body>
</html>
